//--------------------------------------------------
//---------------Carte------------------------------
//--------------------------------------------------
.map{
  margin: 100px auto;
  @media screen and (max-width:570px){
    display: none;
  }
}
//--------------------------------------------------
//---------------Titre------------------------------
//--------------------------------------------------
.contact__title{
  font-size: 27px;
  font-weight: 600;
  @media screen and (max-width:990px){
    margin-top: 50px;
  }
}
//--------------------------------------------------
//---------------Formulaires + infos-----------------
//--------------------------------------------------
.form{
  // Grille
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 60px;
  align-items: flex-start;
  margin-bottom: 50px;
  @media screen and (max-width:990px){
    grid-template-columns: 1fr;
  }
  // Formulaires
  form{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .message{
      margin-top: 20px;
    }
    .message,.subject{
      width: 100%;
    }
    .name,.email{
      width: calc(50% - 15px);
    }
    input,textarea {
      border: 1px solid #8a8a8a6e;
      padding: 10px;
      outline: none;
      &::placeholder{
        color: #8a8a8a6e;
        font-size: 12px;
      }
    }
  }
}
// Informations
.form__infos{
  margin-top: 20px;
  @media screen and (max-width:990px){
    margin-top: 50px;
  }
}
.form__infos__full{
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  i{
    margin-right: 20px;
    color: #8f9195;
    font-size: 27px;
    width: 30px;
  }
  &__txt{
    p{
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: 500;
      font-family: $font2;
    }
    span{
      font-size: 16px;
      color: #8a8a8a;
    }
  }
}
